.well{
  background-color: steelblue;
  width: 100%;
}

ul{
  list-style: none;
}
.play{
  background-color: rgba(0, 255 , 255 , .8);
  color: blue;
  font-size: 1.5em;
}

.mon{
  background-color: rgba(225, 50, 50 , .8);
  color: black;
  font-size: 1.5em;
}
